<!DOCTYPE html>
<html>
<head>
	<title> EAT DA BURGER </title>
{{!-- css link --}}
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

{{!-- image --}}
<div class="row" id="picture">
	<img src="/assets/img/2.jpg">
</div>
      
</head>
<body>
	{{{body}}}
		
</body>
</html>
